@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Noto+Sans+JP:wght@400;700&display=swap");

:root {
    --content-width: 480px;
    --color-background: #f8f8f8;
    --color-main: #3cbbb1;
    --color-main-darker: #2d8b83;
    --color-accent: #efa00b;
    --color-accent-darker: #c38209;
    --color-caution: #ee4266;
    --color-caution-darker: #e01541;
    --color-text: #35393c;

    background-color: var(--color-background);
    color: var(--color-text);
    font-family: "Noto Sans JP", sans-serif;
    max-width: var(--content-width);
    width: 100%;
    margin: 0 auto;
}

body {
    margin: 8px;
}

.btn {
    display: inline-block;
    border: none;
    outline: none;
    text-decoration: none;
    padding: 0.6rem 1.5rem;
    color: var(--color-background);
    background-color: var(--color-main);
    border-bottom: 5px solid var(--color-main-darker);
    border-radius: 3px;
}

.btn.caution {
    background-color: var(--color-caution);
    border-bottom: 5px solid var(--color-caution-darker);
}
.btn:active {
    border: none;
    margin-top: 5px;
}

＠media screen and (max-width: 559px) {
    .btn {
        display: block;
        width: 100%;
    }
}